// .profile-content{
// .details {
// display: flex;
// //flex-wrap: wrap;
// .basic-details{
// width: 20%;
// }
// .other-details{
// width: 80%;
// }
// }

// }

.user-profile {
display: flex;
flex-wrap: wrap;
width: 100%;
.basic-details {
width: 20%;
@include media(tab-port){width: 100%;}
@include media(tab-land){width: 100%;}
}
.other-details {
width: 70%;
@include media(tab-port){width: 100%;}
@include media(tab-land){width: 100%;}
}

}

.content {
    margin: 1rem 0;
}