button{
    margin: 0 .5rem 0 .5rem !important;
}

.primary-contained{
    background-color: $color-primary !important;
    color: $color-white !important;
}
.secondary-contained{
    background-color: $color-white !important;
    color: $color-primary !important;
}
.primary-outlined{
    border-color: $color-primary !important;
    color: $color-primary !important;
}
.secondary-outlined{

}