.iconStyle {
    height: 40;
    width: 40;
    color: '#1a1a1abd';
  }
  .errorStyle {
    font-size: 16;
    color: '#ff0000c7';
    margin: 8;
  }
  .dropzoneArea {
    border: 2px dotted grey;
    padding: 5px;
  }